ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7894f8;
    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    color: #7894f8;
    transition: 0.25s;
    font-weight: 700;
}
