<app-menu></app-menu>
<body>
    <div class="main-div">
        <div class="info-div">
            <div class="title-div">
                <h1>
                    <b>Hola!</b>
                </h1>
                <h1 class="second-line">
                    <b>Soy Juan Cruz Carvallo</b>
                </h1>
            </div>
            <div class="desc-div">
                <p><span>Edad:</span> 21 años</p>
                <p><span>Vivo en:</span> Ezeiza</p>
                <p><span>Email:</span> carvallojuanc@gmail.com</p>
            </div>
        </div>
        <div class="photo-div">
            <img [src]="fotocara" width="300vw" >
        </div>
    </div>
    <div class="desc-juego-div">
        <h2>Juego elegido</h2>
        <h1 class="game-header">Wordle</h1>
        <img class="instrucciones-img" [src]="instrucciones_juego" alt="">
    </div>
<body>
