<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Ahorcado</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">01</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Adiviná la palabra</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>El objetivo del juego es adivinar la palabra antes de quedarte sin intentos</span>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a routerLink="/juego/ahorcado" class="btn btn-sm btn-flash-border-primary">Jugar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Preguntados</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">02</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Responde las preguntas correctamente</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Debes elegir la respuesta correcta en cada una de las ternas</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a routerLink="/juego/preguntados" class="btn btn-sm btn-flash-border-warning">Jugar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Tateti</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">03</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Completa una fila para ganar</span>
                            </div>
                        </div>
                        <ul class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Debes lograr posicionar tres cruces o circulos seguidas para ganar</span></li>
                        </ul>
                        <div class="widget-49-meeting-action">
                            <a routerLink="/juego/tateti" class="btn btn-sm btn-flash-border-success">Jugar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>